<md-toolbar>
<div class="md-toolbar-tools">
				

	<h4>
		<span aria-label="Dashboard" ng-click="dashboard()"><font style="color: #ffffff;font-family:RobotoDraftRegular;">NOKIA </font></span>
	</h4>
	
	<span flex=""></span> 	
	
	<font style="color: #ffffff"><h4>{{currentUser}}</h4></font>
	&nbsp;&nbsp;
	
	<md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
		<div>
			<ng-md-icon icon="logout" style="fill: white" size="24"></ng-md-icon>
		</div>
	<md-tooltip>Logout</md-tooltip> </md-button>

</div>
</md-toolbar>